[user]
	name = LekoArts
	email = lekoarts@gmail.com
[core]
	excludesfile = /Users/lejoe/.gitignore_global
	editor = code --wait
	pager = delta
[init]
	defaultBranch = main
[pull]
	rebase = true
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true  # use n and N to move between diff sections
		side-by-side = true
		line-numbers = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[alias]
	squash-all = "!f(){ git reset $(git commit-tree HEAD^{tree} -m \"${1:-initial}\");};f"
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
